@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: Roboto, sans-serif;
  line-height: 1.5rem;
  color: #cacaca;
  background: #08020d;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  font-size: 11px;
  margin: 0;
}

.back {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.img-main {
  width: 24px;
  height: 24px;
}

input[type=text]::-webkit-input-placeholder {
  color: white;
  font-weight: bold;
  font-family: Roboto;
  font-size: 14px;
}

input[type=email]::-webkit-input-placeholder {
  color: white;
  font-weight: bold;
  font-family: Roboto;
  font-size: 14px;
}

.form {
  padding: 16px 0 15px 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
}

.search {
  border: none;
  height: 30px;
  padding-left: 10px;
  margin-left: 450px;
  line-height: 1.5rem;
  border-radius: 30px;
  background-color: #3d3c3c;
}

.access {
  font-weight: normal;
}

.button {
  border-radius: 5px;
  padding: 20px 30px;
  min-height: 50px;
  background-color: #34c176;
  color: white;
  font-size: 13.3px;
  text-transform: uppercase;
  border: none;
}
.button-artist {
  width: 200px;
  font-size: 12.8px;
  border-radius: 5px;
  padding: 20px 30px;
  min-height: 50px;
  background-color: #34c077;
  color: white;
  font-family: Roboto;
  text-transform: uppercase;
}

.black-back {
  background: #08020d;
}

.center {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.card {
  height: 615px;
  padding: 0 1.5rem;
  border-radius: 1rem;
  width: 366.66px;
}
.card h2 {
  margin: 0;
}
.card p {
  margin: 0;
  height: 57px;
  line-height: 150%;
}

.p-news {
  margin-top: 0;
  margin-bottom: 24px;
}
.p-news-2 {
  margin-top: 0;
  margin-bottom: 16px;
}

.main-h {
  font-size: 16px;
  margin-bottom: 205px;
  padding-top: 30px;
  margin-top: 0;
  font-weight: normal;
}

.m-t-0 {
  margin-top: 0;
}

.free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
  margin-right: 50px;
}

.usual {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
  margin-right: 50px;
}

.premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.p-price {
  margin-bottom: 50px;
  font-size: 12.8px;
}

.marg-50 {
  margin-bottom: 50px;
  margin-top: 0px;
}

.eminem {
  margin-bottom: 65px;
}

.fans {
  margin-bottom: 50px;
}

.count {
  line-height: 1em;
  font-size: 64px;
  vertical-align: bottom;
  color: white;
  font-weight: normal;
  margin-right: 5px;
}

.rub {
  font-size: 32px;
  line-height: 150%;
  vertical-align: top;
  color: white;
  font-weight: normal;
}

.price {
  margin: 0;
}

.right {
  margin-left: auto;
  color: #cacaca;
  font-size: 12.8px;
}

.news-author {
  display: flex;
  width: 35%;
}
.news-author .size-19 {
  height: 19px;
  width: 19px;
}
.news-author p {
  font-size: 12px;
  margin-left: 16px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
}

.name-author {
  color: #F89202;
  text-transform: uppercase;
}

.white {
  color: white;
}

.up {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.up.now {
  color: white;
}
.up-price {
  text-transform: uppercase;
}

.mobile-m {
  margin: 0;
}

.line {
  border-bottom: 2px #cacaca solid;
}

input {
  color: white;
}

.purple {
  background: #5328A1;
  border: none;
}

.orange {
  background: #95390C;
  border: none;
}

.s-20 {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.flex-btn {
  display: flex;
  align-items: center;
  text-align: center;
}
.flex-btn p {
  margin-top: 0;
  margin-bottom: 0;
}

.flex-choose {
  display: flex;
  gap: 30px;
}

.img-55 {
  height: 55px;
  width: 55px;
}

.p-white {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.m-00 {
  margin: 0;
  font-size: 12.8px;
}

.gray {
  color: #cacaca;
}

.track-info {
  margin-left: 20px;
  vertical-align: middle;
}
.track-info h3 {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0px;
  margin-top: 5px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-25 {
  margin-top: 25px;
}

.head {
  margin-bottom: 48px;
  margin-top: 0px;
}

.h3-disc {
  font-size: 12.8px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
}

.flex-disc {
  display: flex;
  flex-wrap: wrap;
}
.flex-disc * h3 {
  font-size: 18px;
  text-transform: none;
}
.flex-disc * p {
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 0;
  text-align: left;
}
.footer a.m-t-25 {
  margin-top: 25px;
}
.footer p {
  margin: 0;
}

.twitter {
  margin-left: 20px;
}

.about {
  margin-bottom: 15px;
  margin-top: 0;
  color: #fff;
}
.about-mess {
  margin-bottom: 20px;
  margin-top: 0;
  color: #fff;
}

@media screen and (min-width: 1001px) {
  h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
  h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
  .header {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .header .form {
    max-width: 570px;
  }
  .header a:hover {
    color: white;
  }
  .m-h {
    margin-top: 50px;
  }
  .flex {
    display: flex;
  }
  .flex.m-40 {
    margin-bottom: 40px;
  }
  .description-main {
    padding: 200px 0;
    margin: 0;
  }
  .description-artist {
    padding: 250px 0 225px;
    margin: 0;
  }
  .lh-0 {
    margin: 0;
  }
  .section {
    padding: 100px 20px 0;
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;
    max-width: 1200px;
    color: #fff;
  }
  .section-description {
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;
    max-width: 1200px;
    color: #fff;
  }
  .section-pricing {
    padding: 100px 20px 0;
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;
    max-width: 1200px;
    color: #fff;
  }
  .section-news {
    padding: 100px 20px 0;
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;
    max-width: 1200px;
  }
  .section-news h3 {
    color: #fff;
  }
  .section-mobile {
    padding: 100px 20px 0;
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;
    max-width: 1200px;
  }
  .section-footer {
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;
    max-width: 1200px;
  }
  .section__artist {
    padding: 100px 20px 0;
    margin: 0 auto;
    text-align: left;
    box-sizing: content-box;
    max-width: 1200px;
    color: #fff;
  }
  .section__artist-description {
    padding: 0 20px;
    margin: 0 auto;
    text-align: left;
    box-sizing: content-box;
    max-width: 1200px;
    color: #fff;
  }
  .section__artist-track {
    padding: 100px 20px 0;
    margin: 0 auto;
    text-align: left;
    box-sizing: content-box;
    max-width: 1200px;
    color: #fff;
  }
  .section__artist-disk {
    padding: 100px 20px 0;
    margin: 0 auto;
    text-align: left;
    box-sizing: content-box;
    max-width: 1200px;
    color: #fff;
  }
  .section__artist-similar {
    padding: 100px 20px 0;
    margin: 0 auto;
    text-align: left;
    box-sizing: content-box;
    max-width: 1200px;
    color: #fff;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: #cacaca;
    margin-top: 16px;
  }
  .form {
    min-width: 270px;
  }
  .m-25 {
    margin-left: 25px;
    margin-right: 0;
  }
  .m-91 {
    margin-left: 91px;
    margin-right: 0;
  }
  .m-50 {
    margin-left: 50px;
    margin-right: 0;
  }
  .search {
    width: 250px;
  }
  .button {
    min-width: 570px;
  }
  .button.sub {
    min-width: 100%;
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 65px;
    margin-top: 40px;
    font-size: 16px;
  }
  .button.download {
    min-width: 10%;
    max-width: 128px;
    background: #95390C;
    border-radius: 30px;
    color: white;
    padding: 16px 40px;
    float: left;
    text-transform: none;
    font-size: 12.8px;
    font-family: Roboto, sans-serif;
  }
  .album {
    min-width: 20%;
    background: none;
    border: 1px solid #cacaca;
    color: #cacaca;
    margin-top: 48px;
    padding: 16px 30px;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
  }
  .subscription-page {
    width: 1240px;
    margin-top: 100px;
  }
  .f-24 {
    font-size: 24px;
    font-weight: normal;
  }
  .news-item {
    display: flex;
    gap: 50px;
  }
  .news-body {
    text-align: left;
  }
  .news-body h3 {
    font-size: 30px;
    line-height: 45px;
    font-weight: normal;
    margin-top: 0;
  }
  .text-item {
    display: flex;
    flex-direction: column;
    width: 570px;
  }
  .mobile-page {
    display: flex;
    gap: 144px;
  }
  .description-mob {
    display: flex;
    flex-direction: column;
    flex: 0 1 600px;
    text-align: left;
    margin-top: 16px;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    align-content: start;
    text-align: left;
    padding: 61px 0 75px;
    background-clip: border-box;
  }
  .footer-grid * a {
    color: #e0e0e0;
  }
  .footer-grid * p {
    color: #e0e0e0;
  }
  .grid-element {
    display: flex;
    flex-direction: column;
  }
  .flex-foot {
    display: flex;
    padding: 39px 0 50px;
    gap: 16px;
  }
  .flex-foot a {
    color: #e0e0e0;
  }
  .back-artist {
    background-image: url("../images/Morten Harket.png");
    background-position: center;
    background-size: cover;
  }
  .popular-track {
    display: flex;
    width: 575px;
  }
  .flex-track {
    display: flex;
    flex-wrap: wrap;
  }
  .s-250 {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
  .header {
    position: absolute;
    margin-top: 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header a {
    line-height: 17px;
    font-weight: bold;
  }
  .header a:hover {
    color: white;
  }
  .flex-for-mob {
    display: flex;
  }
  .section {
    padding: 100px 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    box-sizing: content-box;
  }
  .section-description {
    padding: 248px 20px 202px;
    text-align: center;
    color: #fff;
  }
  .section-pricing {
    padding: 100px 20px 0;
    text-align: center;
    margin: 0;
  }
  .section-news {
    padding: 100px 20px 0;
    text-align: center;
    margin: 0;
  }
  .section-mobile {
    padding: 100px 20px 0;
    text-align: center;
    margin: 0;
  }
  .section-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section__artist {
    padding: 100px 20px 0;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    box-sizing: content-box;
  }
  .section__artist-description {
    padding: 225px 20px;
    text-align: left;
    color: #fff;
  }
  .section__artist-track {
    padding: 100px 20px 0;
    text-align: left;
    box-sizing: content-box;
  }
  .section__artist-disk {
    padding: 100px 20px 0;
    text-align: left;
    box-sizing: content-box;
  }
  .section__artist-similar {
    padding: 100px 20px 0;
    text-align: left;
    box-sizing: content-box;
  }
  a {
    text-decoration: none;
    color: #cacaca;
  }
  .img-main {
    margin-bottom: 14px;
  }
  .m-20 {
    margin-top: 20px;
  }
  .m-15 {
    margin-left: 15px;
  }
  .pos {
    position: absolute;
    left: 65px;
    top: 0px;
    font-weight: 700;
  }
  .flex-m {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    text-align: left;
  }
  .search {
    width: 100%;
    margin-left: 0;
    margin-top: 16px;
  }
  .lh-0 {
    margin: 0;
  }
  .form {
    width: 100%;
    height: 50px;
  }
  .button {
    width: 100%;
  }
  .button.but_access {
    height: 57px;
  }
  .button.sub {
    min-width: 100%;
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 65px;
    margin-top: 40px;
    font-size: 16px;
  }
  .button.download {
    min-width: 10%;
    max-width: 128px;
    background: #95390C;
    border-radius: 30px;
    color: white;
    padding: 16px 40px;
    float: left;
    text-transform: none;
    font-size: 12.8px;
    font-family: Roboto, sans-serif;
  }
  .album {
    height: 53px;
    background: none;
    border: 1px solid #cacaca;
    color: #cacaca;
    margin-top: 48px;
    margin-bottom: 65px;
    padding: 16px 30px;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
  }
  .album.second {
    margin-bottom: 0;
  }
  .main-h {
    margin-bottom: 200px;
    padding-top: 16px;
    color: #fff;
    font-weight: 700;
  }
  .purple {
    border: none;
  }
  .orange {
    border: none;
  }
  .subscription-page {
    width: 100%;
    margin-top: 100px;
    padding: 100px 20px 100px 0;
  }
  .center {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .f-30 {
    font-weight: normal;
  }
  .rub {
    font-size: 32px;
    line-height: 150%;
    vertical-align: middle;
  }
  .count {
    vertical-align: top;
    margin-right: 10px;
  }
  .card {
    height: 595px;
    width: 100%;
    margin-top: 46px;
  }
  .card.first {
    height: 595px;
    width: 100%;
    margin-top: 0;
  }
  .information {
    margin-top: 46px;
  }
  .free {
    margin-right: 0;
  }
  .usual {
    margin-right: 0;
  }
  .news-body {
    text-align: left;
  }
  .news-body h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    margin-top: 0;
    text-transform: capitalize;
    color: white;
  }
  .marg-50 {
    margin-bottom: 50px;
  }
  .eminem {
    margin-bottom: 50px;
  }
  .order {
    margin-bottom: 50px;
  }
  .news-item {
    display: flex;
    flex-direction: column;
  }
  .news-item.ozzy {
    flex-direction: column-reverse;
  }
  .text-item {
    display: flex;
    flex-direction: column;
  }
  .news-author {
    flex-direction: row;
    width: 55%;
  }
  .news-footer {
    font-size: 13px;
  }
  .grid-element {
    display: flex;
    flex-direction: column;
  }
  .mobile-page {
    display: flex;
    flex-direction: column-reverse;
  }
  .description-mob {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
  }
  .footer-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr) auto auto;
    grid-row-gap: 30px;
    align-content: start;
    text-align: left;
    padding-top: 62px;
    padding-bottom: 72px;
    background-clip: border-box;
  }
  .footer-grid h2 {
    margin-top: 0px;
  }
  .footer-grid * a {
    color: #e0e0e0;
  }
  .footer-grid * p {
    color: #e0e0e0;
  }
  .footer-img {
    display: flex;
    gap: 24px;
  }
  .flex-foot {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 39px;
    text-align: left;
    gap: 16px;
  }
  .flex-foot a {
    color: #e0e0e0;
  }
  .mm-25 {
    margin-left: 25px;
    margin-right: 0;
  }
  .back-artist {
    background-image: url("../images/Morten Harket.png");
    background-position: center;
    background-size: cover;
    width: 100vw;
  }
  .flex-btns {
    display: flex;
    flex-direction: column;
    float: left;
  }
  .m-1-5 {
    margin-top: 1.5rem;
  }
  .mm-12 {
    margin-left: 12.5px;
    margin-right: 0;
  }
  .popular-track {
    display: flex;
    width: 100%;
  }
  .m-tt-15 {
    margin-top: 15px;
  }
  .s-137 {
    width: 137px;
    height: 137px;
  }
  .w-137 {
    width: 137px;
  }
  .mm-50 {
    margin-left: 50px;
    margin-right: 0;
  }
  .m-tt-25 {
    margin-top: 25px;
  }
  .flex-choose {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=app.css.map */
